on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ github.token }}
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_TAG: ghcr.io/${{ github.repository }}

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache
          
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Lowercase name
        id: name_case
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ env.IMAGE_NAME }}

      - name: Build image
        run: sudo podman build . -t ${{ steps.name_case.outputs.lowercase }} --cap-add sys_admin

      - name: Log in
        if: github.event_name != 'pull_request'
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          registry: ${{ env.IMAGE_REGISTRY }}

      - name: Lowercase tag
        if: github.event_name != 'pull_request'
        id: tag_case
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ env.IMAGE_TAG }}

      - name: Tag image
        if: github.event_name != 'pull_request'
        run: podman tag ${{ steps.name_case.outputs.lowercase }} ${{ steps.tag_case.outputs.lowercase }}

      - name: Push image 
        if: github.event_name != 'pull_request'
        run: podman push ${{ steps.tag_case.outputs.lowercase }}
