on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ github.token }}
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_TAG: ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache
          
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build image
        run: sudo podman build . -t ${{ env.IMAGE_NAME }} --cap-add sys_admin

      - name: Log in to ghcr.io
        if: github.event_name != 'pull_request'
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          registry: ${{ env.IMAGE_REGISTRY }}

      - name: Tag image for ghcr.io
        if: github.event_name != 'pull_request'
        run: podman tag ${{ env.IMAGE_NAME }} ${{ env.IMAGE_TAG }}

      - name: Push image to ghcr.io
        if: github.event_name != 'pull_request'
        run: podman push ${{ env.IMAGE_TAG }}
