on:
  schedule:
    - cron: "0 0 * * *"
  push:
  pull_request:
  workflow_dispatch:

env:
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ github.token }}
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_TAG: ghcr.io/${{ github.repository }}:${{ github.head_ref || github.ref_name }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Remove software
        uses: ublue-os/remove-unwanted-software@v9

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: "true"

      - name: Lowercase name
        id: name_case
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ env.IMAGE_NAME }}

      - name: Build image
        run: podman build . -t ${{ steps.name_case.outputs.lowercase }}

      - name: Lowercase registry
        if: github.event_name != 'pull_request'
        id: registry_case
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ env.IMAGE_REGISTRY }}

      - name: Log in
        if: github.event_name != 'pull_request'
        run: podman login --username "${{ env.REGISTRY_USER }}" --password "${{ env.REGISTRY_PASSWORD }}" "${{ steps.registry_case.outputs.lowercase }}"

      - name: Lowercase tag
        if: github.event_name != 'pull_request'
        id: tag_case
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ env.IMAGE_TAG }}

      - name: Tag and push image
        if: github.event_name != 'pull_request'
        run: |
          # Tag the image with the name of the branch
          podman tag ${{ steps.name_case.outputs.lowercase }} ${{ steps.tag_case.outputs.lowercase }}
          podman push ${{ steps.tag_case.outputs.lowercase }}
